--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.26.4

Flask
Flask-WTF
python-dotenv
Werkzeug

pdfplumber
python-docx

langchain
langchain-groq

torch==2.1.2+cpu
openai-whisper

ffmpeg-python
openpyxl
